#!/bin/sh
# This include-script is only to be sourced (.) by other shell scripts. The
# initial #!/bin/sh is included to force VS Code to correctly perform syntax
# detection - otherwise it incorrectly detects Python and attempts to make 
# invalid recommendations.

DJANGO_SETTINGS_MODULE="team_groove.settings.development"

# You can generate a local SECRET_KEY using the Python REPL
# First, start a Python REPL running inside the virtual environment
# > poetry run python

# Now the Python REPL is running import the Django module:
# >>> from django.core.management import utils
# And then generate a new key
# >>> print(utils.get_random_secret_key())
# When you've finished, you can exit the REPL.
# >>> exit()

SECRET_KEY=""

SPOTIPY_CLIENT_ID=""
SPOTIPY_CLIENT_SECRET=""
SPOTIPY_REDIRECT_URI="http://127.0.0.1:8000/grooveboard"
