{% extends 'base.html' %}

{% block title %}{{ room.title }} | {% endblock %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb-item">
            <li class="breadcrumb-item"><a href="{% url 'grooveboard' %}">Grooveboard</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'room' room.id %}" aria-current="page">{{ room.title }}</a></li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="media">
                <img class="mr-3">
                <div class="media-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col">
    <h1>{{ room.title }}</h1>
    <div class="col-md-12">
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Groovers: </h5>
                <p class="card-text"></p>
                {% if active_room.created_by == request.user %}                
                    {% for member in room.members.all %}
                        <hr>
                        {% if active_room.created_by == member %}
                            <p>{{ member.email }}                        
                        {% else %} 
                            <p>{{ member.email }} - <a href="{% url 'remove_user_from_room' member.email %}" class="btn btn-success btn-small"><i class="fa fa-trash" aria-hidden="true"></i> Remove Groover?</a></p>   
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for member in room.members.all %}
                        <hr>                    
                        <p>{{ member.email }}
                    {% endfor %}
                {% endif %}               


                <h5>Invited Groovers:</h5>
                {% for member in invitations %}
                    <p>{{ member.email }} - {{ member.date_sent|timesince }} ago <a href="{% url 'delete_invitation' member.email %}" class="btn btn-success btn-small"><i class="fa fa-trash" aria-hidden="true"></i> Delete Invitation?</a></p>
                    <hr>
                {% endfor %}
                <hr>
                <h5>Playlists for the Room:</h5>
                {% for playlist in playlists %}
                    <p>{{ playlist }}</p>
                    <a href="{% url 'search_track_name' playlist.playlist_id %}" class="btn btn-primary btn-block">Search track name for {{ playlist.playlist_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if room.created_by == request.user %}
    <hr>
    <h5>Room Owner Actions:</h5>
    <hr>
        <div class="col-4">
            <a href="{% url 'edit_room' %}" class="btn btn-primary btn-block">Edit Room Name</a>
            <hr>
            {% if active_room.created_by == request.user %}
                <a href="{% url 'invite' %}" class="btn btn-secondary btn-block"><i class="fa fa-envelope" aria-hidden="true"></i> Invite Groovers to Join Your Room</a>
                <a href="{% url 'authorize_with_spotify' %}" class="btn btn-success btn-block"><i class="fa fa-eye" aria-hidden="true"></i> View Your Spotify Playlists</a>
                <a href="#" class="btn btn-success btn-block"><i class="fa fa-eye" aria-hidden="true"></i> View Your YouTube Playlists</a>
            {% endif %}
        </div>
{% endif %}

{% endblock %}