{% extends 'base.html' %}

{% block content %}

<h3>Search track names for playlist {{ playlist_id }}</h3>

<form method="POST" action="." id="searchtrackname">
    {% csrf_token %}
        <div class="form-group">
            <input name="query" type="text" placeholder="Track Name" class="form-control input-md" required="true"/>
        </div>
        <div class="form-group">
            <input name="playlist_id" type="text" value="{{ playlist_id }}" class="input-large" hidden="true" readonly/>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
</form>

<div class="form-group">
    <button class="btn btn-outline-danger" type="button" value="Back" onClick="javascript:history.go(-1);">Back</button>
</div>

{% endblock %}
