{% extends 'base.html' %}

{% block title %}Grooveboard | {% endblock %}

{% block content %}

<h1>Welcome DJ </h1>
<h2>Create your TeamGroove rooms and invite other Groovers.</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="media">
                <img class="mr-3">
                <div class="media-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if invitations %}
    <div class="alert alert-info">
        <h3>You have pending invitations.</h3>
        {% for invitation in invitations %}
            <a href="{% url 'accept_invitation' %}">{{ invitation.room.title }}</a>
        {% endfor %}
    </div>
    <hr>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 d-flex">
            <div class="card mb-2 flex-fill">
                <div class="card-header">
                    <h5>Current Active Room --></h5>
                </div>
            </div>
        </div>
        {% if active_room %}
            <div class="col-md-4 d-flex">
                <div class="card mb-2 flex-fill">
                    <div class="card-header">
                        <h5>{{ active_room.title }}</h5>
                    </div>
                    <div class="card-body">
                        {% if active_room.created_by == request.user %}
                            <h5>You are the: (DJ)</h5>
                        {% else %}
                            <h5>You are a: (Groover)</h5>
                        {% endif %}
        
                        <hr>
                    </div>
                    {% if active_room.created_by == request.user %}
                        <a href="{% url 'invite' %}" class="btn btn-primary btn-block"><i class="fa fa-envelope" aria-hidden="true"></i> Invite Groovers to Join Your Room</a>
                    {% endif %}
    
                    <a href="{% url 'room' active_room.id %}" class="btn btn-secondary mt-2 btn-block"><i class="fa fa-users" aria-hidden="true"></i>Room Details</a>
                </div>
            </div>
        {% endif %}
        <div class="col-md-4 d-flex">
            <div class="card mb-2 flex-fill">
                <div class="card-header">
                    <h5>Create a New Room</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                </div>
                <a href="{% url 'add_room' %}" class="btn btn-info btn-block"><i class="fa fa-users" aria-hidden="true"></i>Create a New Room</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-2">
            <div class="card-header">
                <h2>Rooms that you have created</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                <p class="card-text">Click on Activate to make the Room your current choice</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    {% for room in rooms %}
            {% if forloop.first %}<div class="row">{% endif %}

                <div class="col-md-3 d-flex">
                    <div class="card mt-2 flex-fill">
                        <div class="card-body">
                            <h5 class="card-title">{{ room.title }}</h5>
                            <p class="card-text">
                            {% if room.created_by == request.user %}
                                You are the: (DJ)
                            {% else %}
                                You are a: (Groover)
                            {% endif %}</p>
                            <hr>
                        </div>
                        <a href="{% url 'activate_room' room.id %}" class="btn btn-success mt-2 btn-block">Activate Room</a>
                        {% if room.created_by == request.user %}
                            <a href="{% url 'delete_room' room.id %}" class="btn btn-danger mt-2 btn-block">Delete Room</a>
                        {% endif %}
                    </div>
                </div>

            {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}

    {% endfor %}
</div>

{% endblock content %}